<%- include('partials/layout/header') %>

<main class="w-full">
<div class="max-w-4xl mx-auto bg-white p-8 ">
        <h1 class="text-3xl font-bold mb-6">Terms & Conditions</h1>

        <section class="mb-6">
            <h2 class="text-2xl font-semibold mb-2">Start Dates:</h2>
            <p>Due to the nature of our work, all start dates that are given are a rough guide as we cannot guarantee a set date due to weather conditions and jobs running overdue to additional work/changes.</p>
        </section>

        <section class="mb-6">
            <h2 class="text-2xl font-semibold mb-2">Deposit:</h2>
            <p>A £500 deposit is due to Creative Spaces Home and Garden to secure your booking, this is deducted off your total bill at the end. If you do change your mind regards the work, we would need at least 8 weeks' notice to cancel if you cancel within the 8 weeks’ notice period your deposit will be refunded in full. If, however, it is less than 8 weeks’ notice your deposit will be non-refundable.</p>
            <p>When making payments please put your name as the reference.</p>
        </section>

        <section class="mb-6">
            <h2 class="text-2xl font-semibold mb-2">Payment Schedule:</h2>
            <p>Creative Spaces Home and Garden require part payment throughout the project for the work that has been completed and on-site materials ordered. Creative Spaces Home and Garden will only ever ask for monies for work that has been completed.</p>
            <p>These then safeguard the customer for only paying for work that has been done and safeguards Creative Spaces Home and Garden for material & Labour.</p>
            <p>Creative Spaces Home and Garden reserves the right to withdraw from a site if the contract payment schedule is not adhered to. Title and ownership of the materials and equipment will not pass until payment is made. Creative Spaces Home and Garden can recover any materials in the event of non-payment. The customer agrees to allow access to the site for this purpose.</p>
        </section>

        <section class="mb-6">
            <h2 class="text-2xl font-semibold mb-2">Additional work/Changes:</h2>
            <p>If the customer requires any additional work or makes changes to the agreed-upon plan/quote, this needs to be confirmed in writing and signed by both parties, with reasonable notice. Any additional cost incurred due to any changes being made will have to be reflected in an adjusted price which will be agreed before the additional work/changes being carried out by both parties.</p>
        </section>

        <section class="mb-6">
            <h2 class="text-2xl font-semibold mb-2">Materials:</h2>
            <p>Specific materials/product requested by the customer that may have been custom made or ordered to a specific requirement is solely liable to the customer for any additional charge/handling fee. Creative Spaces Home and Garden cannot be held liable for any custom-made products that have been ordered specifically for the job by the customer.</p>
            <ul class="list-disc list-inside">
                <li>Creative Spaces Home and Garden cannot be held responsible for the effects of de-icing salts, as these are detrimental to the surface of concrete products.</li>
                <li>Creative Spaces Home and Garden cannot be held responsible for the fading of colours due to efflorescence which is a natural condition producing very small white particles covering the surface of concrete products. This condition is caused by having calcium hydroxide present as a soluble salt, which leaches to the surface and combines with carbon dioxide in the air to form calcium carbonate. (Chalk)</li>
                <li>Wood is a natural product and is therefore susceptible to certain changes in an outdoor environment. Extremes of temperature or weather conditions will cause a reaction. Certain conditions may cause products to split, lose shape, or warp. This is natural and in all but the most extreme cases, the normal shape will be resumed. Creative Spaces Home and Garden cannot be held responsible for the above taking place.</li>
                <li>In extreme changes in weather conditions, certain plants and materials, such as terracotta, some natural stone, and other paving can be affected, suffering damage if not protected. The client should take the necessary precautions to prevent damage as this is out of our control.</li>
            </ul>
        </section>
    </div></main>
<%- include('partials/layout/footer') %>